# התעלמות ממפתחות סודיים והגדרות סביבה
.env

# התעלמות מקבצים זמניים של פייתון
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# התעלמות מסביבות וירטואליות (אם יצרת כזו)
.venv/
venv/
ENV/

# קבצי מערכת הפעלה מיותרים
.DS_Store
Thumbs.db