# חסימת מפתחות סודיים (קריטי!)
.env

# חסימת תיקיית הסביבה הווירטואלית הכבדה של פייתון
.venv/
venv/
env/

# חסימת קבצי קש פנימיים של פייתון והמערכת
__pycache__/
*.pyc
.DS_Store

# חסימת תיקיית המודולים של הפרונטאנד (אם יש react/next)
node_modules/
dist/
.next/